@CHARSET "ISO-8859-1";


body {
	background-color: #00182F;
	color:white;
}

img {
	margin: 0px;
	padding: 0px;
}

img.bigshot {
	padding-top: 0px;
	
}

a.heading, h1 {
color: white;
text-shadow: #00274D 0.1em 0.1em 0.2em;
font-size: xx-large;
font-weight: bold;
}
div.content {
	background-image: url("../img/building.jpg");
	background-repeat: no-repeat;	
	background-position: top;
	padding-top: 50px;
	min-height: 1200px;
	
}
div.emptypanel{
	min-height:1200px;
}