<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Eclecticshots</servlet-name>
		<servlet-class>ca.eclecticshots.EclecticshotsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Eclecticshots</servlet-name>
		<url-pattern>/eclecticshots</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>ec.jsp</welcome-file>
	</welcome-file-list>
	

		<icon>
		<small-icon>/favicon.ico</small-icon>
		</icon>

	<servlet>
		<servlet-name>wait</servlet-name>
		<servlet-class>ca.eclecticshots.wait</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>wait</servlet-name>
		<url-pattern>/wait</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>PicasaImport</servlet-name>
		<servlet-class>ca.eclecticshots.PicasaImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PicasaImport</servlet-name>
		<url-pattern>/picasaimport</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>Order</servlet-name>
		<servlet-class>ca.eclecticshots.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Order</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>ca.eclecticshots.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/cascade</url-pattern>
	</servlet-mapping>



		<servlet>
		<servlet-name>CreateNewECPhoto</servlet-name>
		<servlet-class>ca.eclecticshots.ServletCreateECPhoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateNewECPhoto</servlet-name>
		<url-pattern>/newecp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RemoveECPhoto</servlet-name>
		<servlet-class>ca.eclecticshots.ServletRemoveECPhoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveECPhoto</servlet-name>
		<url-pattern>/delecp</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>CreateNewECAlbum</servlet-name>
		<servlet-class>ca.eclecticshots.ServletCreateECAlbum</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateNewECAlbum</servlet-name>
		<url-pattern>/neweca</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveECAlbum</servlet-name>
		<servlet-class>ca.eclecticshots.ServletRemoveECAlbum</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveECAlbum</servlet-name>
		<url-pattern>/deleca</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addurl</servlet-name>
		<servlet-class>ca.eclecticshots.ServletAddurl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addurl</servlet-name>
		<url-pattern>/addurl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Delphotosinalbum</servlet-name>
		<servlet-class>ca.eclecticshots.ServletDpia</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delphotosinalbum</servlet-name>
		<url-pattern>/dpia</url-pattern>
	</servlet-mapping>


	
	
	
	
</web-app>
